@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SF-Pro-Display-Heavy.otf') format('opentype');
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('fonts/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'JetBrainsMono';
    src: url('fonts/JetBrainsMono.ttf') format('truetype');
}
* { margin:0; padding:0; box-sizing:border-box; }
body {
    font-family: 'SF Pro Display', sans-serif;
    background: #ebebeb;
    color: #363335;
}
a { color:#c41e3a; font-weight:400; text-decoration:none; }
a:hover { text-decoration: underline; }

a[x-apple-data-detectors] {
    color: inherit;
    text-decoration: none;
    pointer-events: none;
    cursor: text;
    font-family: JetBrainsMono, monospace;
}

.container {
    width:90vw;
    margin:0 auto;
    padding: 5vh 0;
}
.header {
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 5vh;
    flex-wrap:wrap;
}
.header-left h1 {
    font-size:50pt;
    font-weight:900;
    text-transform:uppercase;
}
.header-left p {
    font-family: 'JetBrainsMono', sans-serif;
    font-size:13pt;
    margin-top:0vh;
}
.header-left {
    width: 60vw;
}
.header-right {
    font-family: 'JetBrainsMono', sans-serif;
    width: 30vw;
    text-align:right;
    font-size:13pt;
}
.liner {
    width: 95vw;
    background: #363335;
    height: 20px;
    margin-left:-2.5vw;
    margin-bottom: 5vh;
    overflow: hidden;
}
.products {
    display:flex;
    flex-wrap:wrap;
    gap: .66vw;
    margin-bottom:12vh;
}
.card-wrapper {
    width:22vw;
    max-height: 450px;
    min-height: 380px;
    height: 27vw;
    background: #ebebeb;
    border-radius:0px;
    border: 2px white dashed;
    overflow:hidden;
    position:relative;
    transition:transform .2s ease;
}
.card {
    width:100%;
    height:100%;
    position:relative;
    cursor:pointer;
}
.card-wrapper:hover {
    background: white;
    transform:translateY(-5px);
}
.card-img {
    width:100%;
    object-fit:cover;
    object-position:right center;
    filter: brightness(1.02);
    mix-blend-mode: multiply;
}
.card-text {
    z-index:2;
    width:100%;
    padding: 0px 2vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
    /*background:linear-gradient(to right, rgba(255,255,255,0.7) 60%, rgba(255,255,255,0));*/
}
.card-text h3 {
    padding-top: 20px;
    border-top: 2px white dashed;
    text-transform: uppercase;
    font-size:14px;
    font-weight:900;
    margin-bottom: 5px;
}
.card-text p {
    font-family: 'JetBrainsMono', sans-serif;
    font-size: 12px;
    color:#333;
}
.fullscreen {
    position:fixed;
    top:50%; left:50%;
    transform:translate(-50%,-50%);
    width:90vw;
    height:90vh;
    background:white;
    border-radius:30px;
    overflow:hidden;
    z-index:9999;
    opacity:0;
    pointer-events:none;
}
.fullscreen.active {
    opacity:1;
    pointer-events:all;
}
.fullscreen img {
    width:100%;
    height:100%;
    object-fit:contain;
}
.fullscreen .info {
    position:absolute;
    bottom:6vh;
    width:90vw;
    padding:2.5vh 10vw;
    border-radius:25px;
    backdrop-filter:blur(2px);
}
.fullscreen .info strong {
    font-size:2.2vw;
    font-weight:900;
}
.fullscreen .info p {
    font-family: 'JetBrainsMono', sans-serif;
    font-size:1.5vw;
    font-weight:400;
}
.fullscreen::after {
    content:"";
    position:absolute;
    top:3vh;
    right:3vh;
    width:6vh;
    height:6vh;
    background:
        linear-gradient(to top right, transparent calc(50% - 6px), #ed073d calc(50% - 6px), #ed073d calc(50% + 6px), transparent calc(50% + 6px)),
        linear-gradient(to top left,  transparent calc(50% - 6px), #ed073d calc(50% - 6px), #ed073d calc(50% + 6px), transparent calc(50% + 6px));
    background-size:100% 100%;
    cursor:pointer;
    z-index:10000;
    border-radius:50%;
    transform:scale(.77);
    opacity: .5;
    transition:all .2s ease;
}
.fullscreen:hover::after {
    opacity: 1;
    filter: grayscale(10%);
    transform:scale(.77);
}
.fullscreen:active::after {
    opacity: 1;
    filter: grayscale(10%);
    transform:scale(.66);
}
.overlay {
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.88);
    z-index:9998;
}
.footer {
    font-family: 'JetBrainsMono', sans-serif;
    background: #363335;
    color: #f5f5f5;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 2vw;
    border-top:1px solid #ddd;
    flex-wrap:wrap;
    gap:30px;
}
.footer-left p { font-size:10pt; font-weight:400; }
.footer-right img { opacity: 0.6; height:35px; padding-left: 5px; transition: scale 0.1s; filter: grayscale(1) brightness(2);}
.footer-right img:hover {opacity: 1; scale: 1.10;filter: grayscale(0) brightness(1);}

#noise-canvas {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 10000;
    opacity: 0.09;         /*сила шума (0.05–0.15) */
    mix-blend-mode: difference;
    filter: sepia(60%);
  }
@keyframes noisein {
    from  { opacity: 0.99;filter: blur(0.5px); }
    to { opacity: 0.01;filter: blur(0.5px); }
}
#noise-canvas {
    background: 
        repeating-radial-gradient(#000 0 0.0001%,#fff 0 0.0002%) 50% 0/2500px 2500px,
        repeating-conic-gradient(#000 0 0.0001%,#fff 0 0.0002%) 60% 60%/2500px 2500px;
    background-blend-mode: difference;
    animation:
        noisein .4s ease-in-out forwards,
        b .2s infinite alternate;
}
@keyframes b {
    100% {background-position: 50% 0, 60% 50%}
}
@keyframes rotate {
  from { transform: rotateX(-360deg) rotateY(30deg) rotateZ(180deg); }
  to { transform: rotateX(0deg) rotateY(30deg) rotateZ(540deg); }
}
@media (max-width:1300px) {
    #noise-canvas {display: none!important;}
    .card-wrapper {
        width: 29vw;
        max-height: 410px;
        min-height: 360px;
        height:38vw;
    }
}
@media (max-width: 880px) {
    .card-wrapper { 
        width: 44vw;
        max-height: 420px;
        min-height: 350px;
        height:60vw;
    }
}
@media (max-width:768px) {
    .fullscreen .info strong { font-size:4.2vw; }
    .fullscreen .info p { font-size:3.1vw; }
    .fullscreen {height: 80vh; width: 80wv;}
    .header-left{width:100%;}
    .header-left p {margin-top:2vh;}
    .header-right {width:100%;text-align:left;margin-top:2vh;}
    .fullscreen::after {width:8vh;height:8vh;top:2vh;right:2vh;}
}
@media (max-width:560px) {
    .card-wrapper {
        width: 88vw;
        max-height: 560px;
        min-height: 370px;
        height:95vw;
    }
}
